@{
    ViewData["Title"] = "Empresas";
}

<h2>Empresas</h2>

<p>
    <button type="button" onclick="CarregaCreate()" class="btn btn-primary">Adicionar empresa</button>
</p>

<div id="lista"></div>


<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="corpoModal"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            lista();
        });

        function lista() {
            $("#lista").load("/Empresas/Lista");
        }

        function CarregaCreate() {
            $("#corpoModal").load("/Empresas/CarregaCreate");
            $("#modal").modal('show')
        }

        function Create() {
            var objeto = $("#form").serialize()
            $.post("/Empresas/Create", objeto, function (data) {
                lista();
                $("#modal").modal('hide')
                $("#corpoModal").html("")
                alert(data.mensagem)
            });
        }

        function CarregaUpdate(id) {
            $("#corpoModal").load("/Empresas/CarregaUpdate/" + id);
            $("#modal").modal('show')
        }

        function Update() {
            var objeto = $("#form").serialize()
            $.post("/Empresas/Update", objeto, function (data) {
                lista();
                $("#modal").modal('hide')
                $("#corpoModal").html("")
                alert(data.mensagem)
            });
        }
    </script>
}